@model ASP_EcoEcommerce.Models.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<div class="details">
    <h4>@Model.Name</h4>
    <hr />
    <div>
        @foreach (var imageUrl in ViewBag.MediaUrls)
        {
            <img src="@Url.Content($"~/assets/{imageUrl}")" alt="Product Image" class="image-details" />
        }
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProCateg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProCateg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EcoCriteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EcoCriteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a href="@Url.Action("ProductEdit", new { id = Model.Id_Product })" class="btn btn-primary rounded-pill">Edit Product</a>

    <a asp-action="Index" class="btn btn-primary rounded-pill">Back to List</a>
</div>
