@model IEnumerable<ASP_EcoEcommerce.Models.ProductListItemViewModel>

@{
    ViewData["Title"] = "Product List";
}

<h1>Product List</h1>


<a asp-action="ProductCreate" class="btn btn-primary rounded-pill">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProCateg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EcoCriteria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (ViewBag.MediaUrl.ContainsKey(item.Id_Product))
                {
                    <img src="@Url.Content("~/assets/" + ViewBag.MediaUrl[item.Id_Product])" alt="Product Image" class="image-index" />

                }
                else
                {

                    <img src="@Url.Content("~/assets/placeholderImageIndex.png")" alt="Placeholder Image" class="image-index" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProCateg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EcoCriteria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Product Modification", "ProductEdit", new { id = item.Id_Product }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_Product }) |
                @Html.ActionLink("Delete Product", "ProductDelete", new { id = item.Id_Product })
            </td>
        </tr>
}
    </tbody>
</table>
